---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
<div class="homecontainer">
  <img class="homeimage" src="\images\IMG_1617.jpeg" alt="Image">
  <div class="hometextbox">
    <p>"It was a game, a very interesting game one could play. Whenever one solved one of the little problems,
      one could write a paper about it. It was very easy for any second-rate physicist to do first-rate work. 
      There has not been such a glorious time since. It is very difficult now for a first-rate physicist to do second-rate work."</p>
    <h2>-Paul Dirac</h2>
  </div>
</div>

<div class="homecontainer">
<div class="hometextbox" style="background-color: #fff";>
  <h1>Impacts</h1>
  <p>My work has focused on nitrophenols, a set of molecules which exhibit a natural yellow color. This yellow is in part what constitutes the brown smoke one observes in a wildfire. These nitrophenols are produced in a fire, they begin to break down due to various chemical reactions. The type of reactions I have focused on involve sunlight coming in and potentially bleaching these molecules, the same sort of fade that happens when something is left outside in the sun for too long.</p>
  <a href="https://daltonian.co/publications">
    <button class="button-37" role="button">View my Publications</button>
  </a>  
</div>
<img class="homeimage" src="\images\molecule.jpg" alt="Image">
</div>

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
